[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.75.1"
uvicorn = "~=0.17.6"
sqlalchemy = "~=1.4.0"
pyyaml = "~=6.0"
google-auth = "~=2.6.0"
click = "~=8.1.2"
python-multipart = "~=0.0.5"
bumpversion = "*"

[dev-packages]

[requires]
python_version = "3.8"
